@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.article {
    overflow: hidden;
    height: 100vh;
}

:root {
    --jet: #18202C;
    --black: #1F2937;
    --dark: #1f7b8e;
    --hover: #16697A;
    --med: #489FB5;
    --light: #82C0CC;
    --white: #FAFAFA;
    --side: #FFA62B;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    padding: 20px 150px;
}

header h2 {
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

header h2 img {
    width: 32px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav a {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}

#welcome nav a:last-child {
    margin-left: 50px;
    background-color: var(--dark);
    color: var(--white);
    padding: 5px 30px;
    /* border-radius: 15px; */
}

#welcome nav a:last-child:hover {
    background-color: var(--hover);
    transition: all ease .3s;
}

#hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    height: 93vh;
    padding: 0px 150px;
}

.left-hero {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-hero h1 {
    font-size: 42px;
    color: var(--dark);
}

.left-hero p {
    font-size: 16px;
    letter-spacing: 1px;
}

.right-hero img {
    width: 500px;
}

.botonat {
    display: flex;
    align-items: center;
    gap: 50px;
}

.botonat a {
    color: var(--black);
    text-decoration: none;
    padding: 5px 15px;
    color: var(--white);
}

.botonat a:first-child {
    background-color: var(--med);
}

.botonat a:last-child {
    background-color: var(--side);
}

.mini-cards {
    display: flex;
    align-items: center;
    gap: 80px;
}

.mini-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    /* background-color: red; */
}

.mini-card:nth-child(1) h4 {
    color: var(--dark);
    font-size: 24px;
}

.mini-card:nth-child(2) h4 {
    color: var(--med);
    font-size: 24px;
}

.mini-card:nth-child(3) h4 {
    color: var(--light);
    font-size: 24px;
}

.back {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: var(--white);
    border-radius: 200px;
    width: 50px;
    height: 50px;
    color: var(--dark);
    padding: 10px 13px;
    letter-spacing: 2px;
    font-size: 24px;
}

.login-body {
    background: url(../assets/bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 70%;
    height: 75%;
    border-radius: 15px;
}

.left {
    background: url(../assets/mini-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.left h2 {
    letter-spacing: 1px;
    font-size: 70px;
    margin: auto 0px;
    color: var(--white);
}

.left img {
    width: 64px;
}

.right {
    background-color: var(--white);
    width: 50%;
    height: 100%;
    padding: 60px;
    color: #1e1e1e;
}

.title {
    font-size: 30px;
    margin-bottom: 5px;
}

.right p {
    color: #1e1e1e5f;
    width: 65%;
    margin-bottom: 60px;
}

.signup-p {
    margin-bottom: 40px !important;
}

.right form {
    display: flex;
    flex-direction: column;
}

.right form h4 {
    font-size: 24px;
    margin-bottom: 5px;
}

.right form label {
    width: 100%;
    margin-bottom: 30px;
}

.right form input {
    width: 100%;
    padding: 12px 10px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: #1e1e1e4c 1px solid;
}

.right form input:focus {
    box-shadow: #00a6e83f 0px 2px 8px 0px;
    border: var(--dark) 1px solid;
    transition: all ease 0.3s;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btns button {
    width: 47%;
    font-size: 18px;
    padding: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.btns button:first-child {
    border: var(--dark) 2px solid;
    background-color: transparent;
    color: var(--dark);
    border-radius: 5px;
}

.btns button:last-child {
    border: var(--dark) 2px solid;
    background-color: var(--dark);
    color: #fafafa;
    border-radius: 5px;
}

.btns button:first-child:hover,
.btns button:last-child:hover {
    box-shadow: #006d772c 0px 2px 8px 0px;
    transition: all ease 0.3s;
}

.right .sign {
    width: 100%;
    text-align: center;
    color: #1e1e1e;
    margin-bottom: 0px;
    margin-top: 85px;
    font-size: 18px;
}

.sign a,
.log a {
    color: var(--dark);
}

.right .log {
    width: 100%;
    text-align: center;
    color: #1e1e1e;
    margin-bottom: 0px;
    margin-top: 25px;
    font-size: 18px;
}

.labels {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1e1e1e;
}

.labels label {
    width: 47% !important;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;

}

#services {
    padding: 30px 150px;
    background-color: var(--white);
}

.footer p {
    color: var(--med);
    font-size: 20px;
}

.footer a {
    color: #717171;
    text-decoration: none;
}

.create {
    width: 30%;
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--white);
    border-radius: 15px;
    padding: 10px;
}

.create h2 {
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.create h2 img {
    width: 40px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* .actions a:first-child{
    color: var(--side);
} */
.actions a:last-child {
    color: #de3c35;
}

#app {
    display: flex;
    background-color: var(--jet);
    height: 100vh;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.app-aside {
    position: fixed;
    height: 95vh;
    width: 4%;
    background-color: var(--black);
    margin-left: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

.app-aside h2 {
    width: 75%;
}

.app-aside img {
    width: 100%;
}

.app-aside nav {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.app-aside nav a {
    font-size: 23px;
    color: var(--white);
    opacity: 0.5;
}

.active {
    opacity: 1 !important;
}

.app-aside nav a:hover {
    opacity: 1 !important;
    transition: all ease 0.3s;
}

.app-aside button {
    font-size: 23px;
    color: var(--white);
    opacity: 0.5;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.app-aside button:hover {
    opacity: 1 !important;
    transition: all ease 0.3s;
}

.app-art {
    width: 92%;
    height: 95vh;
    /* background-color: var(--dark); */
    margin-left: 130px;
    padding: 25px 0px;
}

.article-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    width: 400px;
    display: flex;
    border: #354255 1px solid;
    border-radius: 6px;
    overflow: hidden;
    align-items: center;

}

.search-bar input {
    width: 90%;
    padding: 10px;
    background-color: var(--black);
    /* border-radius: 5px 0px 0px 5px; */
    border: none;
    color: var(--white);
    font-size: 13px;
    outline: none;
    caret-color: var(--med);
}

.search-bar i {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    padding: 12px 0px;
    color: var(--med);
    /* border-radius: 0px 5px 5px 0px; */
}

.article-header h1 {
    color: var(--white);
}

.plan {
    border-radius: 16px;
    padding: 10px;
    background-color: var(--black);
    color: var(--white);
    max-width: 350px;
    height: 410px;
}

.plan strong {
    font-weight: 600;
    color: var(--light);
}

.plan .inner {
    padding: 20px;
    background-color: #273345;
    border-radius: 12px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plan .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--light);
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--black);
}

.plan .title {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--med);
}

.plan .title {
    margin-top: 0.5rem;
}

.plan .info {
    margin-top: 0.5rem;
}

.plan .features {
    display: flex;
    flex-direction: column;
}

.plan .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.plan .features li+* {
    margin-top: 0.75rem;
}

.plan .features .icon {
    background-color: #1FCAC5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.plan .features .icon svg {
    width: 14px;
    height: 14px;
}

.plan .features+* {
    margin-top: 1.25rem;
}

.plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.plan .button {
    background-color: var(--med);
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 0.75em;
    text-decoration: none;
}

.plan .button:hover,
.plan .button:focus {
    background-color: var(--dark);
}

.article-main h2 {
    color: var(--med);
}

.card {
    max-width: 320px;
    border-radius: 1rem;
    background-color: var(--black);
    padding: 1rem;
}

.infos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    grid-gap: 1rem;
    gap: 1rem;
}

.image {
    height: 7rem;
    width: 7rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.image img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
}

.comp {
    height: 7rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.function {
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
}

.stats {
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(0, 0, 0, 1);
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4px;
}

.state-value {
    font-weight: 700;
    color: var(--med);
}

.request {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--white);
    color: var(--black);
    transition: all .3s ease;
}

.request:hover {
    background-color: var(--med);
    color: #fff;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 1.5rem;
}

.buttons a:last-child {
    background-color: var(--med);
    border-radius: 0.5rem;
    padding: 0.5rem 0.9rem;
    color: var(--white);
}

.radio-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .radio-inputs > * {
    margin: 6px;
  }
  
  .radio-input:checked + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
  }
  
  .radio-input:checked + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
  }
  
  .radio-input:checked + .radio-tile .radio-icon svg {
    fill: #2260ff;
  }
  
  .radio-input:checked + .radio-tile .radio-label {
    color: #2260ff;
  }
  
  .radio-input:focus + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
  }
  
  .radio-input:focus + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
  }
  
  .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-height: 80px;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
  }
  
  .radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
  }
  
  .radio-tile:hover {
    border-color: #2260ff;
  }
  
  .radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
  }
  
  .radio-icon svg {
    width: 2rem;
    height: 2rem;
    fill: #494949;
  }
  
  .radio-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
  }
  
  .radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }